body {
  min-width: 1300px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.red {
  background-color: red
}
.grey {
  background-color: grey
}
.red {
  background-color: blue
}
.grid {
  background-color: grey;
  position: absolute;
}
.player {
  position: absolute;
  background-color: blue;
}
.enemy {
  position: absolute;
  background-color: red;
}
.weapon {
  position: absolute;
  background-color: silver;
}
.food {
  position: absolute;
  background-color: lightgreen;
}
.white {
  position: absolute;
  background-color: white;
}
.boss {
  position: absolute;;
  background-color: pink;
  border:1px solid red;
}
.gate {
  position: absolute;
  background-color: purple;
}
.board {
  background-color: black;
  position: relative;
  float:left;

}
.container {
  background-color: lightgrey;
  padding-right: 15px;
  padding-left: 15px;
  margin:auto;
  padding-bottom: 50px;
}
.info {
  float: left;
  position: relative;
  font-size: 25px;
}
.container:before,
.container:after {
  display: table;
  content: " ";
  clear:both;
}
button {
  cursor:pointer;
  margin-top: -20px;
  width:80px;
  height:40px;
  outline:none;
  border:none;
  font-size: 20px;
}