.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.red {
  background-color: red
}
.grey {
  background-color: grey
}
.red {
  background-color: blue
}
.grid {
  background-color: grey;
  position: absolute;
}
.player {
  position: absolute;
  background-color: blue;
}
.enemy {
  position: absolute;
  background-color: red;
}
.weapon {
  position: absolute;
  background-color: silver;
}
.food {
  position: absolute;
  background-color: lightgreen;
}
.boss {
  position: absolute;;
  background-color: pink;
}
.board {
  background-color: black;
  position: relative;
  margin:auto;
}
.container {
  position: relative;
  background-color: lightgrey;
  padding-right: 15px;
  padding-left: 15px;
  margin:auto;
  padding-bottom: 50px;
}